img {
    height: 60%;
    width: 50%;
    position: absolute;
    top: 0; bottom: 0; left: 0; right:0;
    margin: auto;
}

.front {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.left {
    margin-left: 10px;
    margin-top: 150px;
}

.right {
    position: absolute;
    right: 10px;
    margin-top: 150px;
}

.rear {
    position: absolute;
    bottom: 20px;
    right: 100px;
}

canvas {
    border-radius: 15px;
}
